* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: initial;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: red;
  background: linear-gradient(to bottom, rgb(68 0 102), rgb(49, 55, 15));
  width: 800px;
  height: auto;
  margin: 10% auto;
  border-radius: 5px;
}

.content-holder {
  /* text-align: center; */
  color: white;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 15%;
  padding: 50px;
  height: auto;
}

.content-holder a {
  color: white;
}

.content-holder h2 {
  font-size: 34px;
  margin: 20px auto;
}

.content-holder p {
  margin: 30px auto;
}

.content-holder button {
  border: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  width: 150px;
  margin: 20px auto;
}

.box-2 {
  background-color: white;
  margin: 5px;
}

.login-form-container {
  text-align: center;
}

.login-form-container h1 {
  color: black;
  font-size: 24px;
  padding: 20px;
}

.input-field {
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgb(168, 168, 168);
  max-width: 280px;
  width: 100%;
  outline: none;
}
.login-button {
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
  outline: none;
  background-color: rgb(56, 102, 189);
  margin: 20px;
  cursor: pointer;
}

.password-container {
  position: relative;
  max-width: 280px;
  text-align: center;
  margin: 0 auto;
}
.view-show {
  width: 20px;
  content: url("../images/eye_show.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  cursor: pointer;
}
.view-hide {
  width: 20px;
  content: url("../images/eye_hide.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  cursor: pointer;
}

.button-2 {
  display: none;
}

.signup-form-container {
  margin-top: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  display: none;
}

.signup-form-container h1 {
  color: black;
  font-size: 24px;
  padding: 20px;
}

.signup-button {
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
  outline: none;
  background-color: rgb(56, 189, 149);
  cursor:pointer
}

.error-render {
  color: rgb(255, 0, 0);
  font-size: 11px;
  letter-spacing: 1px;
}
