@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0f1a2c;
  --secondary-color: #f6ac0f;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  padding-block: 7.5rem;
  background-image: url("../images/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.header__container .section__subheader {
  color: #000000;
}

.header__container h1 {
  margin-bottom: 2rem;
  font-size: 6rem;
  font-weight: 800;
  line-height: 7rem;
  font-family: var(--header-font);
  color: #ffffff;
}

.booking {
  background-color: var(--primary-color);
}

.booking__container form {
  max-width: 350px;
  margin: auto;
  display: grid;
  gap: 2rem;
}

.input__group {
  display: grid;
  gap: 1rem;
}

.input__group label {
  font-weight: 600;
  color: var(--white);
}

.input__group input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--white);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-light);
  border-radius: 5px;
}

.input__group input::placeholder {
  color: var(--text-light);
}

.top_images_top_destination {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  gap: 30px;
}

.top_images_top_destination img {
  max-width: calc(50% - 15px); /* Set maximum width for the images */
  height: auto; /* Maintain aspect ratio */
}

.low_images_top_destination {
  display: flex; /* Use flexbox */
  justify-content: space-around; /* Distribute items evenly along the main axis with equal space around */
  gap :30px;
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.low_images_top_destination img {
  margin-top: 30px;
  width: calc(
    33.33% - 20px
  ); /* Adjust width to fit three images in a row with some spacing */
  height: auto; /* Maintain aspect ratio */
}

.error-render {
  color: red;
  font-size: 11px;
  letter-spacing: 1px;
  position: absolute;
  left: 5px;
}



.form-content.signup {
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto;
}

.form-popup .form-box.signup {
  max-height: calc(100vh - 100px); /* Adjust according to your layout */
  overflow-y: auto;
}


