@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #0f1a2c;
    --secondary-color: #f6ac0f;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Playfair Display", serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    padding-block: 5rem;
    background-image:url("image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.header__container .section__subheader {
    color: #000000;
}
  
.header__container h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
    font-weight: 800;
    line-height: 7rem;
    font-family: var(--header-font);
    color: #ffffff;
}

.booking {
    background-color: var(--primary-color);
}
  
.booking__container form {
    max-width: 350px;
    margin: auto;
    display: grid;
    gap: 2rem;
}
  
.input__group {
    display: grid;
    gap: 1rem;
}
  
.input__group label {
    font-weight: 600;
    color: var(--white);
}
  
.input__group input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--white);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-light);
    border-radius: 5px;
}

.input__group input::placeholder {
    color: var(--text-light);
}
