.content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 15px;
  border: 3px solid rgba(156, 156, 156, 0.7);
}

.form-title {
  background-color: #266B50;
  border-radius: 10px 10px 0 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-title > h3 {
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  position: relative;
}
.form-field > label {
  font-size: 15px;
  letter-spacing: 1px;
}
.required > label::after {
  content: " *";
  color: red;
}
.form-field > input {
  height: 35px;
  padding: 5px;
  font-size: medium;
}

.form-field.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
  margin-top: 20px;
}
.remember {
  display: flex;
  align-items: center;
  gap: 10px;
}
.remember > input {
  height: 15px;
  width: 15px;
  accent-color: #266B50;
}
.forgot {
  margin-left: 20px;
}
.forgot > a {
  color: #266B50;
  text-decoration: none;
  letter-spacing: 1px;
}

.form-field > input[type="submit"] {
  border: none;
  background-color: #266B50;
  height: 35px;
  width: 100%;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.form-field > input[type="submit"]:active {
  transform: scale(0.98);
}
.form-field > input[type="submit"]:disabled {
  background-color: rgba(38, 107, 80, 0.5);
  cursor: not-allowed;
}
.form-field > input[type="submit"]:disabled:active {
  transform: scale(1);
}

.register-redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
  height: 60px;
  margin: 10px 0 10px 0;
}
.ques-title > h4 {
  font-size: 15px;
  letter-spacing: 1px;
  color: gray;
  font-weight: lighter;
}

.redirect > a {
  color: #266B50;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: #266B50 0 1px 0;
  cursor: pointer;
}

.password-field {
  position: relative;
}
.view-show {
  width: 28px;
  content: url("../assets/images/eye_show.svg");
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 31px;
  right: 5px;
  cursor: pointer;
}
.view-hide {
  width: 28px;
  content: url("../assets/images/eye_hide.svg");
  background-color: rgba(204, 204, 204, 0.4);
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 31px;
  right: 5px;
  cursor: pointer;
}
.password-field > img:hover {
  background-color: rgba(204, 204, 204, 0.7);
}
.password-field > img:active {
  transform: scale(0.98);
}

.error-render {
  color: red;
  font-size: 11px;
  letter-spacing: 1px;
  position: absolute;
  top: 65px;
  left: 5px;
}