.section_heading{
  padding-top: 150px;
}
.section_reservation_options{
  padding-top: 150px;
}
section{
  max-width: 1240px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.heading h1 {
  font-size: 35px;
  font-weight: 500;
}

.container_listings h1 {
  font-size: 25px;
  font-weight: 500;
  /* margin-bottom: 25px; */
  padding: 0 20px;
  margin-top: 15px;
}

.cards {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 26px;
  /* padding-bottom: 50px; */
  /* padding-top: 220px; */
  flex-wrap: wrap;
  padding: 10px 20px 20px 20px;
}
.card {
  /* margin-top: 150px; */
  position: relative;
  width: calc(25% - 20px);
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 10px;
}

.info h2 {
  font-weight: 500;
  font-size: 21px;
}

.info p {
  font-size: 15px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
}

.like-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.a_item {
  color: black;
}

.container_reservation h1 {
  font-size: 25px;
  font-weight: 500;
  /* margin-bottom: 25px; */
  padding: 0 20px;
  margin-top: 15px;
}

.container_reservation h2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  padding: 0 20px;
}
.reservation_list {
  margin: 20px 0;
  list-style: none;
  padding: 0 20px;
}

.container_reservation p {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  padding: 0 20px;
}

.accept-btn {
  padding: 9px;
  font-size: 13px;
  color: white;
  /* background-color: #0909ce; */
  border: none;
  background-color: rgb(33, 87, 233);
  cursor: pointer;
  border-radius: 7px;
}
.decline-btn {
  padding: 9px;
  font-size: 13px;
  color: white;
  /* background-color: #0909ce; */
  border: none;
  background-color: rgb(233 33 33);
  cursor: pointer;
  border-radius: 7px;
}

.nav_reservation ul {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 50px;
  list-style: none;
  padding-left: 0;
  /* padding: 20px; */
  /* border-bottom: solid 1px; */
}

.reservation_form_actions {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 50px;
  /* list-style: none; */
  padding: 10px 0;
  /* border-bottom: solid 1px; */
}

.reservation_list li {
  margin: 30px 0;
}
/* CSS for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
}

/* Modal content */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 24px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  z-index: 9999;
}

/* Close button */
.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 6px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reservation_action {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pending_reservation {
  padding: 0px 20px;
}

.table {
  vertical-align: middle;
}

.edit_btn {
  background-color: rgb(0 192 6);
}

/* Style for the navigation */
/* .nav_reservation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
} */

.nav_reservation ul li {
  display: inline;
}

/* Style for the links */
.nav_reservation ul li a {
  text-decoration: none;
  color: #551A8B; /* Default color */
  /* padding: 10px; */
  transition: color 0.3s ease; /* Transition effect for color change */
}

/* Hover effect */
.nav_reservation ul li a:hover {
  color: #555; /* Change color on hover */
}

/* Selected option */
.nav_reservation ul li.selected a {
  color: #ff0000; /* Change color of selected option */
}

.section_reservation{
  padding-bottom: 50px;
}