@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0f1a2c;
  --secondary-color: #f6ac0f;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
}

.form-step {
  display: none;
}

.form-step,
#prevBtn,
#nextBtn {
  display: none;
}

.form-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  margin: 0;
  align-self: flex-end;
}

p {
  margin: 0;
  align-self: flex-start;
}

button {
  align-self: flex-end;
}
