{% extends "components/base.html" %} 
{% load static %} 
{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css" />
<div class="container_image">
    <div class="image">
<img src="{% static 'images/Nepal.jpg' %}" alt="banner_image">
    </div>
    <div class="mission">
<h2>About Us</h2>
<p>NepalNest.com is dedicated to providing travelers with authentic and unforgettable experiences in the beautiful country of Nepal. Our mission is to connect travelers with a diverse range of accommodations, from cozy guesthouses nestled in the Himalayas to vibrant city apartments in Kathmandu.</p>
    </div>
</div>
    <div class="about-section">
        <h1>NepalNest</h1>
        <p>Discover Nepal with ease through our streamlined accommodation booking system.</p>
        <p> From cozy mountain lodges to luxurious city escapes, find your perfect stay hassle-free.</p>
      </div>
      <div class="max-width">
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="static/images/profile.jpg" alt="Sagar" style="max-height: 250px; width:100%">
            <div class="container">
              <h2>Sagar Khadgi</h2>
              <p class="title">Supervisor</p>
              {% comment %} <p>Some text that describes me lorem ipsum ipsum lorem.</p> {% endcomment %}
              <p>Sagar@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="static/images/profile.jpg" alt="Uttam" style="max-height: 250px; width:100%">
            <div class="container">
              <h2>Uttam Archarya</h2>
              <p class="title">Reader</p>
              {% comment %} <p>Some text that describes me lorem ipsum ipsum lorem.</p> {% endcomment %}
              <p>Uttam123@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="static/images/profile.jpg" alt="Mahesh" style="max-height: 250px; width:100%">
            <div class="container">
              <h2>Mahesh Pun</h2>
              <p class="title">Developer</p>
              {% comment %} <p>Some text that describes me lorem ipsum ipsum lorem.</p> {% endcomment %}
              <p>Mahesh123@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
