{% extends "components/base.html" %} {% block content %} {% load static %}

<link
  rel="stylesheet"
  href="{% static 'css/book-reserve.css' %}"
  type="text/css"
/>
<script src="{% static 'js/book_reserve.js' %}"></script>

<section class="section_book">
<!-- Main template -->
<div class="container_main">
    <div class="book_wrapper">
    <div class="container_book">
    <h1>Edit Booking</h1>
        <div class="container_edit">
            <div>
            <h4>Trip Dates: </h4>
            <p id="checkInDate">{{ booking.check_in_date|date:"M d" }}</span> - <span id="checkOutDate">{{ booking.check_out_date|date:"M d" }}</p>
            </div>
            <button onclick="openPopup()">Edit</button>
        </div>
        <div class="container_edit">
            <div>
            <h4>Number of Guests: </h4>
            <p>{{ booking.num_guests }}</p>
            </div>
            <button  type="hidden" onclick="editNumGuests()">Edit</button>
        </div>
    </div>

        <div class="container_btn">
            <h1>Pay Now</h1>
           <div class="payment_btn">
        <div class="container_payment_esewa">
            <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
                <input type="hidden" id="amount" name="amount" value="0" required>
                <input type="hidden" id="tax_amount" name="tax_amount" value ="0" required>
                <input type="hidden" id="total_amount" name="total_amount" value="{{ total_amount }}" required>
                <input type="hidden" id="transaction_uuid" name="uuid" value="{{ transaction_uuid }}"required>
                <input type="hidden" id="product_code" name="product_code" value="EPAYTEST" required>
                <input type="hidden" id="product_service_charge" name="product_service_charge" value="0" required>
                <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
                <input type="hidden" id="success_url" name="success_url" value="https://esewa.com.np" required>
                <input type="hidden" id="failure_url" name="failure_url" value="https://google.com" required>
                <input type="hidden" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required>
                <input type="hidden" id="signature" name="signature" value="{{ signature }}"  required>
                {% comment %} <input class="btn esewa-btn" value="Pay With Esewa" type="submit"> {% endcomment %}
                </form> 
        </div>
        
        
        <div class="container_payment_khalti">
            <form action="{% url 'initiate-khalti' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="purchase_order_id" value="{{ transaction_uuid }}"  id="pid">
                <input type="hidden" name="amount" value="10000" id="amt">
                <input type="hidden" name="return_url" value="http://127.0.0.1:8000/return_url/{{ booking_id }}">
                <input class="btn khalti-btn"  type="submit" value="Pay With Khalti">
            </form>
            
        </div>
    </div>
    <h1>Request Reservation</h1>

        <div class = "container_reserve">
            <form action="{% url 'book'  booking_id=booking_id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="reservation">  <!-- Add a hidden input for action -->
                <button type="submit" class="btn reserve">Request to Reserve</button>
            </form>
        </div>
    </div>
</div>


<div class="container_price_info">
    <div class="property_info">
        <img src="{{ booking.property.property_photo.first.photo.url }}">
        <div class="property_info_details">
        <h3>{{ booking.property.title }}</h3>
        <p>{{ booking.property.location }}</p>
        <ul>
            <li>{{ booking.property.guest_room }}</li>
            <li>{{ booking.property.bedrooms }} bedroom</li>
            <li>{{ booking.property.bed }} bed</li>
        </ul>
        </div>
    </div>
    <h3>Rs.{{ booking.property.price }}<span>/night</span></h3>
    <input type="hidden" name="hidden_price" id="hidden_price" value="{{ booking.property.price }}" />
    <p class="before_service_price flex">Before Service Cost(Rs):<span id="before_service_price"></span></p>
    <input type="hidden" name="hidden_before_service_price" id="hidden_before_service_price"  />
    <p class="service_fee flex">Service fee (Rs): <span id="service_fee"></span></p>
    <input type="hidden" name="hidden_service_fee" id="hidden_service_fee" />
    <p class="after_service_price flex">Total cost (Rs):<span id="after_service_price"></span></p> 
    <input type="hidden" name="hidden_after_service_price" id="hidden_after_service_price"/>   
    </div>
</div>

</section>

<!-- edit_dates_popup.html -->
<div id="editDatesPopup" class="popup" style="display: none;">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2 class="margin">Edit Dates</h2>
    <form method = "POST" action="{% url 'book' booking_id %}">
        {% csrf_token %}
    <div class="popup-content">
        <div class="popup_dates_info">
        <p class="margin">Trip Dates: <span id="popupCheckInDate">{{ booking.check_in_date|date:"M d" }}</span> - <span id="popupCheckOutDate">{{ booking.check_out_date|date:"M d" }}</span></p>
        <p class="new_numOfDays margin">Number of Days: <span id="popupNumOfDays">{{ booking.number_of_days }}</span></p>
        </div>
        <label for="arrival">Check-in Date</label>        
        <input class="new_checkInDate margin" onchange="updatePopupDates()" type="date" id="newCheckInDate" name="new_check_in_date" value="{{ booking.check_in_date|date:'Y-m-d' }}" />
        <label for="departure">Check-out Date</label>        
        <input class="new_checkOutDate margin" onchange="updatePopupDates()" type="date" id="newCheckOutDate"  name="new_check_out_date" value="{{ booking.check_out_date|date:'Y-m-d' }}" />      
        <button class="btn margin" onclick="updateDates()">Update Dates</button>
    </div>
    </form>
</div> 
{% endblock content %}
