{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% static 'css/home.css' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/change-password.css" %}/>
    <title>NepalNest</title>
</head>
<body>
</div> <div class="container">
    <!--Data or Content-->
    <div class="box-1">
        <div class="content-holder">
          <h2>NepalNest.com</h2>
          <p>Follow Instruction to reset your password</p>
        </div>
      </div>
    
      <!--Forms-->
      <div class="box-2">
          <div class="login-form-container">
              <h1>Forgot Password</h1>
              <form action="" method="POST">
                {% csrf_token %}
              <input type="password" placeholder="New Passowrd" class="input-field" id="old_password-input-field" name="new_password">
            </div>
              <br><br>
              <input type="password" placeholder="Confirm Password" class="input-field" id="password-input-field"  name="confirm_password">
              <br><br>
              <button type="submit" class="login-button"  value="Log In" id="submit-btn">Submit</button>
              </form>
          </div>
    </div>
</body>
</html>
