{% extends "components/base.html" %} 
{% load static %}
{% block style %} 
<link rel="stylesheet" href="{% static 'css/forgot.css' %}" />
{% endblock %}

{% block content %}
</div> <div class="container">
    <div class="box-1">
        <div class="content-holder">
          <h2>NepalNest.com</h2>
          <p>Follow Instruction to reset your password</p>
        </div>
      </div>

      <!--Forms-->
      <div class="box-2">
          <div class="login-form-container">
              <h1>Forgot Password</h1>
              <form action="" method="POST">
                {% csrf_token %}
            <div class="password-container">
              <input type="password" placeholder="New Passowrd" class="input-field" id="old_password-field" name="new_password">
              <img src="" alt="" id="show-icon3" class="view-show">
            </div>
              <br>
            <div class="password-container">
              <input type="password" placeholder="Confirm Password" class="input-field" id="new_password-field"  name="confirm_password">
              <img src="" alt="" id="show-icon4" class="view-show">
            </div>
              <br>
              <button type="submit" class="login-button"  value="Log In" id="submit-btn">Submit</button>
              </form>
          </div>
      </div>
    </div>
    
    <script src="{% static 'js/showpass.js' %}"></script>
{% endblock content %}
