{% extends "components/base.html" %} 
{% load static %} 
{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
<header class="header" id="home">
  <div class="section__container header__container">
    <p class="section__subheader">Your Next Space</p>
    <h1>Discover<br />Nepal</h1>
  </div>
</header>

<section class="booking">
  <div class="section__container booking__container">
    <form action="/">
      <div class="input__group">
        <label for="destination">Where To?</label>
        <input type="text" placeholder="Wher To?" />
      </div>
      <div class="input__group">
        <label for="arrival">Arrival Date</label>
        <input type="date" placeholder="Your Arrival Date" />
      </div>
      <div class="input__group">
        <label for="departure">Departure Date</label>
        <input type="date" placeholder="Your Departure Date" />
      </div>
      <div class="input__group">
        <label for="guests">Guests</label>
        <input type="text" placeholder="No Of Guests" />
      </div>
      <button class="btn">Check Availability</button>
    </form>
  </div>
</section>

<section class="top_destination" id="top_destination">
  <div class="section__container top__destination">
    <h2 class="section_header">Top Destinations</h2>
  <div class="top_images_top_destination">
    <img src="{% static 'images/Kathmandu.jpg' %}" alt="">
    <img src="{% static 'images/Pokhara.jpg' %}" alt="">
  </div>
  <div class="low_images_top_destination">
    <img src="{% static 'images/Kathmandu.jpg' %}" alt="">
    <img src="{% static 'images/Pokhara.jpg' %}" alt="">
    <img src="{% static 'images/Pokhara.jpg' %}" alt="">
  </div>
</div>
</section>



<!--Popup Form-->
<div class="blur-bg-overlay"></div>
<div class="form-popup">
    <span class="close-btn material-symbols-rounded">close</span>
    <div class="form-box login">
        <div class="form-details">
            <h2>Welcome Back</h2>
            <p>Please log in using your personal information to stay connected with us.</p>
        </div>
        <div class="form-content">
            <h2>LOGIN</h2>
            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
                <div class="input-field">
                  <label for="username_or_email" id="username-label">Username or Email</label>
                <input type="text" name="username_or_email" id="username-input-field" value="{% if username_or_email %}{{ username_or_email }}{% endif %}" />
                <div class="error-render username-error">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
                </div>
                <div class="input-field">
                  <label for="password">Password</label>
                <input type="password" name="password" id="password-input-field" value="{% if password %}{{ password }}{% endif %}" />
                <img src="" alt="" id="show-icon" class="view-show">
                <div class="error-render password-error">
                    {% if pwerror %}
                        {{ pwerror }}
                    {% endif %}
                </div>
                </div>
                <a href="#" class="forgot-pass">Forgot Password?</a>
                <button type="submit"  value="Log In" id="submit-btn">Log In</button>
            </form>
            <div class="bottom-link">
                Don't have an account?
                <a href="#" id="signup-link">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="form-box signup">
        <div class="form-details">
            <h2>Create an Account</h2>
            <p>To become a part of our community, please sign up using your personal information.</p>
        </div>
        <div class="form-content">
            <h2>SIGN UP</h2>
            <form action="{% url 'registration' %}" method="POST">
              {% csrf_token %}
              <div class="input-field required">
                <label for="username">Username</label>
                <input type="text" name="username" id="username-field" value="{% if username %}{{ username }}{% endif %}"/>
                <div class="error-render username-error">
                    {% if username_error %}
                        {{ username_error }}
                    {% endif %}
                </div>
            </div>
                <div class="input-field">
                  <label for="first_name">First Name</label>
                  <input type="text" name="first_name" id="firstname-field" value="{% if first_name %}{{ first_name }}{% endif %}"/>
                  <div class="error-render firstname-error"></div>
                </div>
                <div class="input-field">
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last_name" id="lastname-field" value="{% if last_name %}{{ last_name }}{% endif %}"/>
                  <div class="error-render lastname-error"></div>
                </div>
                <div class="input-field">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email-field" value="{% if email %}{{ email }}{% endif %}"/>
                  <div class="error-render email-error"></div>
                </div>
                <div class="input-field">
                  <label for="address">Address</label>
                  <input type="text" name="address" id="address-field" value="{% if address %}{{ address }}{% endif %}"/>
                  <div class="error-render address-error"></div>
                </div>
                <div class="input-field">
                  <label for="contact">Contact Number</label>
                  <input type="text" name="contact" id="contact-field" value="{% if contact %}{{ contact }}{% endif %}"/>
                  <div class="error-render contact-error"></div>
                </div>
                <div class="input-field required">
                  <label for="password1">Create Password</label>
                  <input type="password" name="password1" id="password1-field" value="{% if password1 %}{{ password1 }}{% endif %}"/>
                  <div class="error-render password1-error"></div>
              </div>
              <div class="input-field required">
                  <label for="password2">Confirm Password</label>
                  <input type="password" name="password2" id="password2-field" value="{% if password2 %}{{ password2 }}{% endif %}"/>
                  <div class="error-render password2-error"></div>
              </div>
                <div class="policy-text">
                    <input type="checkbox" id="policy">
                    <label for="policy">
                        I agree to the 
                        <a href="#">Terms & Conditions</a>
                    </label>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <div class="bottom-link">
                Already have an account?
                <a href="#" id="login-link">Log In</a>
            </div>
        </div>
    </div>

</div>
<!--ScrollReveal-->
<script src="https://unpkg.com/scrollreveal"></script>

<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/registration.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/showpass.js' %}"></script>

{% endblock content %}
