{% block title %}Login{% endblock %}
{% block content_css %}<link rel="stylesheet" href="static/css/login.css" type="text/css" >{% endblock %}

{% block content %}
<div class="content">
    <div class="login-form">
        <div class="form-title">
            <h3>Log In Here</h3>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-field required">
                <label for="username_or_email" id="username-label">Username or Email</label>
                <input type="text" name="username_or_email" id="username-input-field" value="{% if username_or_email %}{{ username_or_email }}{% endif %}" />
                <div class="error-render username-error">
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            </div>
            <div class="form-field required password-field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password-input-field" value="{% if password %}{{ password }}{% endif %}" />
                <img src="" alt="" id="show-icon" class="view-show">
                <div class="error-render password-error">
                    {% if pwerror %}
                        {{ pwerror }}
                    {% endif %}
                </div>
            </div>
            <div class="form-field remember-me forgot-pass">
                <div class="remember">
                    <input type="checkbox" name="remember_me"/>
                    <label for="remember_me">Remember Me</label>
                </div>
                <div class="forgot">
                    <a href="password_reset">Forgot Your Password?</a>
                </div>
            </div>
            <div class="form-field">
                <input type="submit" value="Log In" id="submit-btn"/>
            </div>
        </form>
        <div class="register-redirect">
            <div class="ques-title">
                <h4>Don't have an account?</h4>
            </div>
            <div class="redirect">
                <a href="{% url 'registration' %}">Sign Up Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block post_script %}
<script src="static/js/login.js" type="text/javascript"></script>
{% endblock %}