{% extends "components/base.html" %} 
{% block content %}
{% load static %} 

<link rel="stylesheet" href="{% static 'css/myProperty.css' %}" type="text/css" />



<section class="section_listings">
    <div class="heading">
        <h1>Welcome {{ first_name }},</h1>
    </div>
    <div class="container">
        <div class="container_listings">
            {% comment %} <h1>Your Listings</h1> {% endcomment %}
            <div class="cards">
                {% for property in user_properties %}                    
                <div class="card">
                    <a class="a_item" href="{% url 'property_detail' property.id %}">
                        <div class="info">
                            <h2>Title: {{ property.title }}</h2>
                            <p>Description: {{ property.description }}</p>
                            <p>Location: {{ property.location }}</p>
                            <p>Price: {{ property.price }}</p>
                        </div>
                        {% comment %} <div class="like-icon"></div> {% endcomment %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}
