{% block title %}Registration{% endblock %}
{% block content_css %}<link rel="stylesheet" href="/static/css/registration.css" type="text/css" >{% endblock %}

{% block content %}
<div class="content">
    <div class="registration-form">
        <div class="form-title">
            <h3>User Registration</h3>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-field required">
                <label for="username">Username</label>
                <input type="text" name="username" id="username-field" value="{% if username %}{{ username }}{% endif %}"/>
                <div class="error-render username-error">
                    {% if username_error %}
                        {{ username_error }}
                    {% endif %}
                </div>
            </div>
            <div class="form-field required">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="firstname-field" value="{% if first_name %}{{ first_name }}{% endif %}"/>
                <div class="error-render firstname-error"></div>
            </div>
            <div class="form-field required">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="lastname-field" value="{% if last_name %}{{ last_name }}{% endif %}"/>
                <div class="error-render lastname-error"></div>

            </div>
            <div class="form-field required">
                <label for="email">Email</label>
                <input type="email" name="email" id="email-field" value="{% if email %}{{ email }}{% endif %}"/>
                <div class="error-render email-error"></div>
            </div>
            <div class="form-field">
                <label for="dob">Date of Birth</label>
                <input type="date" min="1950-12-31" name="dob" id="dob-field" value="{% if dob %}{{ dob }}{% endif %}"/>
                <div class="error-render dob-error"></div>
            </div>
            <div class="form-field required">
                <label for="address">Address</label>
                <input type="text" name="address" id="address-field" value="{% if address %}{{ address }}{% endif %}"/>
                <div class="error-render address-error"></div>
            </div>
            <div class="form-field required">
                <label for="contact">Contact Number</label>
                <input type="text" name="contact" id="contact-field" value="{% if contact %}{{ contact }}{% endif %}"/>
                <div class="error-render contact-error"></div>
            </div>
            <div class="form-field required">
                <label class="label">Gender</label>
                <div class="radio-options">
                    <div class="option-radio">
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="male" value="M" />
                    </div>
                    <div class="option-radio">
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="female" value="F" />
                    </div>
                    <div class="option-radio">
                        <label for="others">Others</label>
                        <input type="radio" name="gender" id="others" value="X" />
                    </div>
                </div>
            </div>
            <div class="form-field required">
                <label for="password1">Create Password</label>
                <input type="password" name="password1" id="password1-field" value="{% if password1 %}{{ password1 }}{% endif %}"/>
                <div class="error-render password1-error"></div>
            </div>
            <div class="form-field required">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2-field" value="{% if password2 %}{{ password2 }}{% endif %}"/>
                <div class="error-render password2-error"></div>
            </div>
            <div class="form-field">
                <input type="submit" value="Register" id="submit-btn" />
            </div>
        </form>
        <div class="login-redirect">
            <div class="ques-title">
                <h4>Have an account?</h4>
            </div>
            <div class="redirect">
                <a href="{% url 'login' %}">Login Here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block post_script %}
<script src="static/js/registration.js" type="text/javascript"></script>
{% endblock %}