{% extends "components/base.html" %} 
{% load static %}
{% block style %}   
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/stays.css' %}" type="text/css" /> 
{% endblock %}

{% block content %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  {% comment %}
  <header class="header" id="home">
    <div class="section__header header__container">
      <p class="section__subheader">Your Next Space</p>
      <h1>Discover<br />Nepal</h1>
    </div>
  </header>
  {% endcomment %} {% comment %}
  <section class="heading">
    <div class="heading">
      <h1>Hi {{ first_name }},</h1>
    </div>
  </section>
  {% endcomment %}
  <section class="section__small_nav">
    <div class="small_nav">
      <ul class="small_nav_list">
        <li><a href="{% url 'stays_type' 'All' %}">All</a></li>
        <li><a href="{% url 'stays_type' 'House' %}">House</a></li>
        <li><a href="{% url 'stays_type' 'Apartment' %}">Apartment</a></li>
        <li><a href="{% url 'stays_type' 'Hotel' %}">Hotel</a></li>
        <li><a href="{% url 'stays_type' 'Tent' %}">Tent</a></li>
        <li><a href="{% url 'stays_type' 'Guest House' %}">Guest House</a></li>
        <li><a href="{% url 'stays_type' 'Bed and Breakfast' %}">Bed and Breakfast</a></li>
        <li><a href="{% url 'stays_type' 'HomeStay' %}">HomeStay</a></li>
        <li><a href="{% url 'stays_type' 'Cabin' %}">Cabin</a></li>
      </ul>

      <div class="Search">
        <form action="{% url 'search' %}" method="get" class="search-form">
          <!-- Text input field for search -->
          <input type="text" name="search" placeholder="Search" class="search-input" />
          <!-- Icon button for search -->
          <button type="submit" id="search_button" class="search-button">
            <!-- Font Awesome search icon -->
            <i class="fas fa-search"></i>
          </button>
        </form>       
      </div>

      <div class="filter"> 
        <button id="openPopupBtn">
            <i class="fas fa-filter"></i> Filter
        </button>
    </div>
    
    </div>
  </section>

  <section class="section_all_stays">
    <div class="cards">
      {% if filtered_properties %}
        {% for item in filtered_properties %}
          <div class="card">
            <a class="a_item" href="{% url 'property_detail' item.id %}">

              {% with item.property_photo.first as photo %}
                  {% if photo %}
                      <img src="{{ photo.photo.url }}" alt="Property Photo">
                  {% else %}
                      <p>No photo available</p>
                  {% endif %}
              {% endwith %}

              <div class="info">
                <h2>Title: {{ item.title }}</h2>
                {% comment %} <p class="description">Description: {{ item.description }}</p> {% endcomment %}
                <p>Location: {{ item.street_address }},
                  {{ item.city }}</p>
                <p>Price: <strong>{{ item.price }}</strong>/night</p>
              </div>
              {% comment %} <div class="like-icon"></div> {% endcomment %}
            </a>
          </div>
        {% endfor %}
      {% else %}
      
        {% for item in data %}
          <div class="card">
            <a class="a_item" href="{% url 'property_detail' item.id %}">

              {% with item.property_photo.first as photo %}
              {% if photo %}
                      <img src="{{ photo.photo.url }}" alt="Property Photo">
                  {% else %}
                      <p>No photo available</p>
                  {% endif %}
              {% endwith %}

              <div class="info">
                <h2>{{ item.title }}</h2>
                {% comment %} <p class="description">Description: {{ item.description }}</p> {% endcomment %}
                <p>Location: {{ item.street_address }},
                  {{ item.city }}</p>
                <p>Price: <strong>{{ item.price }}</strong>/night</p>
              </div>
              {% comment %} <div class="like-icon"></div> {% endcomment %}
            </a>
          </div>
        {% endfor %}
      {% endif %}



      {% if search_performed %}
      {% if Search_properties %}
        {% for item in Search_properties %}
          <div class="card">
            <a class="a_item" href="{% url 'property_detail' item.id %}">

              {% with item.property_photo.first as photo %}
              {% if photo %}
                      <img src="{{ photo.photo.url }}" alt="Property Photo">
                  {% else %}
                      <p>No photo available</p>
                  {% endif %}
              {% endwith %}

              <div class="info"> 
              <h2>Title: {{ item.title }}</h2>
              {% comment %} <p class="description">Description: {{ item.description }}</p> {% endcomment %}
              <p>Location: {{ item.street_address }},
                {{ item.city }}</p>
              <p>Price: <strong>{{ item.price }}</strong>/night</p>
            </div>
            {% comment %} <div class="like-icon_search"></div> {% endcomment %}
          </a>
          </div>
        {% endfor %}
      {% else %}
        <p>No results found</p>
      {% endif %}
    {% endif %}


      {% if properties %}
          {% for item in properties %}
              <div class="card">
                  <a class="a_item" href="{% url 'property_detail' item.id %}">
                      {% with item.property_photo.first as photo %}
                          {% if photo %}
                              <img src="{{ photo.photo.url }}" alt="Property Photo">
                          {% else %}
                              <p>No photo available</p>
                          {% endif %}
                      {% endwith %}
                      <div class="info"> 
                          <h2>Title: {{ item.title }}</h2>
                          {% comment %} <p>Description: {{ item.description }}</p> {% endcomment %}
                          <p>Location: {{ item.street_address }},
                            {{ item.city }}</p>
                          <p>Price: <strong>{{ item.price }}</strong>/night</p>
                        </div>
                      {% comment %} <div class="like-icon_search"></div> {% endcomment %}
                  </a>
              </div>
          {% endfor %}
      {% else %}
          {% if properties_searched %}
              <p>No results found</p>
          {% endif %}
      {% endif %}

     {% if city %}
      {% for item in city %}
        <div class="card">
          <a class="a_item" href="{% url 'stays_by_city' city_name=item.city %}">
            {% with item.property_photo.first as photo %}
              {% if photo %}
                <img src="{{ photo.photo.url }}" alt="Property Photo">
              {% else %}
                <p>No photo available</p>
              {% endif %}
            {% endwith %}
            <div class="info"> 
              <h2>Title: {{ item.title }}</h2>
              <p>Location: {{ item.street_address }}, {{ item.city }}</p>
              <p>Price: <strong>{{ item.price }}</strong>/night</p>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      {% if properties_searched %}
        <p>No results found</p>
      {% endif %}
    {% endif %} 
    


  </div>

  <div class="map_container" id="map_container_id">
    <button type="button" class="btn btn_map fixed_btn" id="showFormBtn"><i class="fas fa-map"></i> Map</button>
  </div>
  
</section>


<!-- Popup HTML -->
<div class="search-popup" id="searchPopup">
  <form id="searchForm" action="{% url 'search_properties' %}" method="GET">
    <div class="map_wrapper">
    <input id="searchInput" class="search-input" name="location" type="text" placeholder="Search for location..."/>
    <button type="submit"class="search-button">
      <i class="fas fa-search"></i>
    </button>
    </div>
  </form>
  <div id="map-canvas"></div>
</div>
<div class="popup-overlay" id="popupOverlay"></div>

  <section class="section_popup">
  <div id="filterPopup" class="popup">
    <div class="popup-content">
      <div class="popup-filter">
        <h3 class="title-filter">Filter</h3>
        <span class="close" onclick="closePopup()">&times;</span>
      </div>
      <form id="filterForm" method="GET" action="{% url 'filter_property' %}">
        {% csrf_token %}
        <!-- Add your filter options here -->
        <div class="pop-up_price pd-15">
          <h2>Price Range</h2>
          <div class="radio-grp grp-nums">
          <div class="radio-num">
          <label for="min-price">Minimum Price (Rs):</label>
          <input type="number" id="min-price" name="min_price" step="1" min="0"  placeholder="500">
          </div>
          <div class="radio-num">
          <label for="max-price">Maximum Price (Rs):</label>
          <input type="number" id="max-price" name="max_price" step="1" min="0"  placeholder="500">
          </div>
          </div>
        </div>


        <div class="pop-up_room-type pd-15">
          <h2>Room Type</h2>
        <div class="pop-up_room">
          <input type="radio" id="Entire_Room" name="guest_room" value="entire_place">
          <label for="Entire_Room" class="radio-label">Entire Room</label>
          
          <input type="radio" id="A_room" name="guest_room" value="a_room">
          <label for="A_room" class="radio-label">A Room</label>
          
          <input type="radio" id="Shared_Room" name="guest_room" value="shared_room">
          <label for="Shared_Room" class="radio-label">Shared Room</label>
          </div>
      </div>
      

      <div class="pop-up_room-type pd-15">
        <h2>Property Type</h2>
        <div class="pop-up_room">
        <input type="radio" id="House" name="property_type" value="House">
        <label for="House" class="radio-label">House</label>
    
        <input type="radio" id="Apartment" name="property_type" value="Apartment">
        <label for="Apartment" class="radio-label">Apartment</label>
    
        <input type="radio" id="Hotel" name="property_type" value="Hotel">
        <label for="Hotel" class="radio-label">Hotel</label>

        <input type="radio" id="Tent" name="property_type" value="Tent">
        <label for="Tent" class="radio-label">Tent</label>
    
        <input type="radio" id="Guest__House" name="property_type" value="Guest__House">
        <label for="Guest__House" class="radio-label">Guest House</label>
    
        <input type="radio" id="Bed_and_Breakfast" name="property_type" value="Bed_and_Breakfast">
        <label for="Bed_and_Breakfast" class="radio-label">Bed and Breakfast</label>

        <input type="radio" id="HomeStay" name="property_type" value="HomeStay">
        <label for="HomeStay" class="radio-label">HomeStay</label>
    
        <input type="radio" id="Cabin" name="property_type" value="Cabin">
        <label for="Cabin" class="radio-label">Cabin</label>
        </div>
      </div>

      <div class="pop-up_rooms_beds pd-15">
        <h2>Basic info</h2>
        <div class="radio-grp grp-nums">
          <div class="radio-num">
        <label for="guest__number">Number of Guest:</label>
        <input type="number" id="guest__number" name="guest__number" step="1" min="0" max="10" placeholder="1"/>
          </div>
          <div class="radio-num">
        <label for="bedroom__number">Number of Bedrooms:</label>
        <input type="number" id="bedroom__number" name="bedroom__number" step="1" min="0" max="10" placeholder="1"/>
      </div>
      <div class="radio-num">
        <label for="bed__number">Number of Beds:</label>
        <input type="number" id="bed__number" name="bed__number" step="1" min="0" max="10" placeholder="1"/>
      </div>
        </div>

            
      </div>
        <div class="button-container">
          <button class="clear" type="button" id="clearFiltersBtn" name="clear_filters">Clear Filters</button>
          <button class="button" type="submit" >Apply Filters</button>
        </div>  
      </form>
    </div>
  </div>
  </section>
  <!--ScrollReveal-->
  <script src="https://unpkg.com/scrollreveal"></script>

  <script src="{% static 'js/home.js' %}"></script>
  <script src="{% static 'js/stays.js' %}"></script>
  <script src="{% static 'js/maps.js' %}"></script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap"
  async
  defer
></script>

  {% endblock content %}
