{% load static %}
    <header>
      <nav>
        <div class="nav__bar">
          <div class="nav__header">
            <div class="logo nav__logo">
              <a href="{% url 'home' %}">
              <img src="{% static 'images/logo.png'%}" alt="Logo Image" />
              <span>NepalNest</span></a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
              <i class="ri-menu-line"></i>
            </div>
          </div>
          <ul class="nav__links" id="nav-links">
            {% if user.is_host %}
            <li><a href="{% url 'stays' %}">Stays</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'Property_list' %}">List Your Property</a></li>
            <li><a href="{% url 'Hosting' info_type='my_listings' %}">Hosting</a></li>
            {% elif user.is_superuser %}
              <li><a href="{% url 'stays' %}">Stays</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'Property_list' %}">List Your Property</a></li>
              <li><a href="/admin/">Admin Panel</a></li>
              {% else %}
              <li><a href="{% url 'stays' %}">Stays</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'Property_list' %}">List Your Property</a></li>
              {% endif %}
      {% if user.is_authenticated %}
    <li class="dropdown">
      <a href="#" class="dropbtn icon profile" style="background-image: url({% if user.profile_pic %}{{ user.profile_pic.url }}{% else %}{% static 'images/default_profile_pic.jpg' %}{% endif %})"></a>
      {% comment %} {{ user.full_name|slice:":1" }}       {% endcomment %}
      <div class="dropdown-content">
            <a href="{% url 'update_profile' %}">My Account</a>
            <a href="{% url 'my_booking' %}">My Booking</a>
            {% comment %} <a href="{% url 'search_map' %}">Maps</a> {% endcomment %}
            {% comment %} <a href="{% url 'pending_requests' %}">My Reservation</a> {% endcomment %}
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
          </ul>
          {% comment %} <div class="header-btn">
            {% if user.is_authenticated %}
            <a href="#">Profile</a>
            <ul class="dropdown">
              <li><a href="{% url 'logout' %}">Logout</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">My Property</a></li>
              <li><a href="#">Setting</a></li>
            </li>
          </ul>
            {% else %}
            <button class="log-in">Login</button>
            {% endif %}
        </div> {% endcomment %}
        </div>
      </nav>
    </header>
  

